@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.c-home {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #19181a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  font-style: italic;
  line-height: 3rem;
  font-size: 1em;
  &__banner {
    color: white;
    &-heading {
      // color: red;
    }
    &-subheading1 {
      user-select: none;
      font-size: 2rem;
      font-weight: bold;
      span {
        cursor: pointer;
        position: relative;
        // display: inline-block;
        // margin-left: 0.2rem;
        transition: all 0.3s ease-in-out;
        animation: glow 2s ease-in-out infinite;
        &:hover {
          font-style: normal;
          transform: translateY(-5px);
          // font-size: 2.5rem;
          // color: #324350;
        }
      }
    }
    @keyframes glow {
      0% {
        text-shadow: 0 0 20px #579da5;
      }
      100% {
        text-shadow: 0 0 20px #579da5;
      }
    }
    &-subheading2 {
      user-select: none;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
      span {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        animation: glow 2s ease-in-out infinite;
        &:hover {
          font-style: normal;
          color: #ffffff;
        }
      }
    }
    &-contact-btn {
      display: inline-block;
      align-self: center;
      text-decoration: none;
      // margin: 1rem 0 1.2rem;
      font-size: 1.5rem;
      // max-height: 200px;
      color: white;
      padding: 1rem;
      border-radius: 1em;
      transition: all 0.2s ease-in-out;
      border: 1px solid rgb(255, 255, 255);
      overflow: hidden;
      // margin-top: 5em;
      &::before {
        display: none;
      }
      &:hover {
        color: rgb(133, 132, 132);
        transform: translateY(-5px);
      }
    }
  }
}
